.tasks {
    /* content: none; */
    background-color: rgb(255,255,255);
        min-height: 0px;
        max-height: 70px;
        overflow-y: scroll;
        scroll-behavior: auto;
        /* scrollbar-color: rgba(10, 10, 100, 0.9); */
        /* scrollbar-color: inherit; */
        /* scrollbar-color: initial; */
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
        margin-right:5px;
        margin-left:5px; 
        margin-top:3px;
        margin-bottom:10px;
         word-wrap: break-word;
    }
    
    .tasks:hover {
        max-height: max-content;
         word-wrap: break-word;
        width: content;
        
        /* max-width: 450px  !important; */
    }
    
    
    
    * {
        --scrollbarBG: #666666;
        --thumbBG: #ffffffd0;
      
        /* overflow: hidden; */
    }
    
    .tasks::-webkit-scrollbar {
        width: 9px;
    }

.tasks::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.tasks::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
