.lists {
    margin-right: 20px;
    
/*     margin-left:80px;  */
        display: grid;
    /* -ms-grid-row-align: stretch; */
    /* grid-template-columns: 20cm 10cm; */
    /* grid-template-columns: 10ch 10ch 10ch; */
    /* grid-template-columns: 30vh 30vh 30vh 30vh; */
    /* grid-template-columns: max-content; */
    /* grid-template-columns: 40ex 40ex 40ex; */
    grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
    transform:scale(0.75);
    /* align-items: center; */
    text-align:center;
    /* justify-content: center; */
    gap:1px;
    }
