 .list{

    padding: 1px 1px;
    height: min-content;
    position: relative; 
    transform: translateZ(0);
    transform:scale(0.94);
    display: table;
    table-layout: fixed;
    flex-direction: column;
    align-content: center;
    text-align: center;
    content: none;
  
/*     border: 1px solid rgb(10,10,10,0.5); */
  border-radius: 50% 20% / 10% 40%;
    transition: transform 0.5s ease-out;
    width: 300px;
    font-weight: 600;
    overflow-y: scroll;
    margin: 10px;   
    margin-top:15px;
    border-radius:4px;
    z-index:200;
    word-wrap: break-word;
     /* transform: scale(1.27); */
    /* opacity:0.96; */
    }
@keyframes mymove {
  100% {left: 30%;  z-index:4000;
 }
 
}
input{
    width:'40%' !important;
}


.list:active{
backroung-color : blue;
z-index : 1001;
 min-height : max-content;
 border-radius : 8px;
}


.list:hover {
/*   position: absolute; */
/*  position: fixed; */
 animation-fill-mode: forwards;
   animation: mymove  infinite;
    z-index:1000;
  -webkit-transform: translateZ(105%);
  transform: translateZ(105%);

    /* transform: translate(-50%, -50%); */
   
 transform: scale(1.1);
 
 box-shadow: 5px 5px 300px 200px rgba(0,0,0,0.6);
/*   #1668E2; */
    min-height: min-content;
    max-height: max-content;
    width:max-content;
/*     border-radius: 6px; */
    height: fit-content;
    max-width: 600px !important;
}

.form-control input {
    /* width:60%; */
   }

.title {
    color:white;
    font-size: large;
    font-family: 'Milonga';
      font-weight: 550;
      margin: 3px;
      text-shadow: 1px 1px 1px black,0 0 0.8em black, 0 0 0.2em black;
   }

.addbtnnote {
    color: rgba(0,110,100,1);
    border-radius: 20%;
    border: 3px green;
    background-color: rgba(255, 255, 255, 0.6);
}

.addbtnnote:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
} 
