 .list{

    padding: 1px 1px;
    height: min-content;
    position: fixed; 
/*      relative; */
    transform: translateZ(0);
    transform:scale(0.94);
    display: table;
    table-layout: fixed;
    flex-direction: column;
    align-content: center;
    text-align: center;
    content: none;
    border: 2px solid rgb(40,40,40,0.7);
    transition: transform 0.5s ease-out;
    width: 300px;
    font-weight: 600;
    overflow-y: scroll;
    margin: 10px;   
    margin-top:15px;
    border-radius:4px;
    z-index:200;
    word-wrap: break-word;
     /* transform: scale(1.27); */
    /* opacity:0.96; */
    }
@keyframes mymove {
  50% {left: 40%;  position: absolute;
 }
 
}
input{
    width:'40%' !important;
}


.list:active{
backroung-color : blue;
z-index : 1001;
 min-height : max-content;
 border-radius : 8px;
}


.list:hover {
  position: absolute;
/*  position: fixed; */
   animation: mymove  finite;
    z-index:1000;
  -webkit-transform: translateZ(110%);
  transform: translateZ(110%);

    /* transform: translate(-50%, -50%); */
   
 transform: scale(1.4);
 
 box-shadow: 10px 10px 400px 200px rgba(30,20,60,0.7);
    min-height: min-content;
    max-height: max-content;
    width:max-content;
    border-radius: 6px;
    height: fit-content;
    max-width: 600px !important;
}

.form-control input {
    /* width:60%; */
   }

.title {
    color:white;
    font-size: large;
    font-family: 'Milonga';
      font-weight: 550;
      margin: 3px;
      text-shadow: 1px 1px 1px black,0 0 0.8em black, 0 0 0.2em black;
   }

.addbtnnote {
    color: rgba(0,110,100,1);
    border-radius: 20%;
    border: 3px green;
    background-color: rgba(255, 255, 255, 0.6);
}

.addbtnnote:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
} 
