.list {
    /* color: rgb(255, 255, 255); */
        /* border-radius: 1%; */
    padding: 1px 2px;
    /* margin: 1px 1px;
        margin-left: 10px;
        margin-top: 10px; */
        height: min-content;
    /* align-items: start; */
    position: relative;
    transform: translateZ(0);
    display: table;
    table-layout: fixed;
    flex-direction: column;
    align-content: center;
    text-align: center;
    content: none;
    /* border: 1px solid rgba(0, 0, 0, 1); */
    transition: transform 0.5s ease-out;
    width: 300px;
    font-weight: 500;
        /* max-height: min-content; */
        /* height: 300px; */
        overflow-y: scroll;
        /* border-radius: 1%; */
        /* min-width: max-content; */
       opacity :0.85;
    margin: 10px;   
    margin-top:30px;
    }
        .list:hover {
            opacity:1;
    margin: 75px;
        width: content;
        /* min-height: max-content; */
        transform: scale(1.34);
        /* box-shadow: 1px 1px 1px 1px rgba(1,1,1, 0.7); */
        /* rgba(85, 83, 255 */
    min-height: max-content;
    min-height: min-content;
    max-height: max-content;
    /* font-size: larger;
    font-weight: bolder;
    font-style: italic; */
    border-radius: 1%;
        height: fit-content;
        /* 300px; */
        
            max-width: 540px !important;
}

.add-form {
    /* margin-bottom: 40px; */
}

.form-control {
    /* margin: 20px 0; */
}

/* .form-control label {
    display: block;
} */

.form-control input {
    width: 80%;
    /* height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 14px; */
}

.title {
/* color: rgb(255, 255, 255); */
    font-size: large;
    /* font-family: cursive; */
    font-weight: 700;
    font-style: italic;
    margin: 10px;
}

.addbtnnote {
    color: rgba(0,130,20,1);
    /* font-size: large; */
    /* font-family: cursive; */
    /* font-style: italic; */
    /* position:sticky; */
    box-shadow: 1px 1px 1px rgba(0, 100,80, 0.7);
        /* width: 1em; */
        /* height: fit-content; */
        /* margin-bottom: 1px; */
        /* margin-right:1%; */
        border-radius: 18%;
    border: 13px green;
        background-color: rgba(255, 255, 255, 0.72);
    /* text-shadow:1px  rgba(1,1,1,0.6); */
}

.addbtnnote:hover {
    cursor: pointer;
    /* position:static; */
    /* background-color: */
        background-color: rgba(255, 255, 255, 1);
}