@import url('https://fonts.googleapis.com/css2?family=Milonga');
@import url('https://fonts.googleapis.com/css2?family=Kleymisska');

body {
   background: linear-gradient(to left,
        rgba(200, 100, 100, 0.25) 0%,
          rgba(100, 100, 200, 0.25) 40%,
          rgba(100, 200, 100, 0.25) 80%);
  
  margin: 0;
  /* background-color: rgba(235,230,235,0.4); */
        /* background-color: */
        /* blue; */
        /* black;  */
        /* rgba(40,40,40,0.9); */
        /* rgba(90, 110, 158,1); */
          /* background-color:rgba(240,240,240,0.5); */
          /* white; */
          /* black; */
          /* rgba(100,100,140,0.9); */
          /* rgba(12, 12,124, 0.7); */
  /* background-size: cover; */
 /* background:  url('./w.jpg')  fixed center ; */
 background-color:#77777;
/*    #44894; */
  /* background:URL('./'); */
}

code {
  font-family: Consolas, 'Courier New',
    monospace;
}
   
