body {
  margin: 0;
  /* background-color: rgba(235,230,235,0.4); */
        background-color: rgba(242, 240, 240, 0.7);
          /* background-color: rgba(241, 244, 244, 0.943); */
  background-size: cover;
}

code {
  font-family: Consolas, 'Courier New',
    monospace;
}
