.addList {
    /* color: white; */

    background-color: rgba(10,100,10,0.4);
    /* rgba(0,210,210,0.9); */
    font-size:x-large;
    align:center;
        /* font-family: cursive; */
    /* font-style: italic; */
    /* box-shadow: 1px 1px 8px 3px rgba(0, 255, 1, 0.9); */
    /* box-shadow: 1px 1px 5px 2px rgba(200, 200, 200, 0.5); */
    min-width: max-content;
    height: min-content;
    /* max-width: 3em; */
    border-radius: 40%; 
    radius: 1px rgba(0,0,0,0.5); 

}

.addList:hover {
    background-color: rgba(20, 206, 5, 0.3);
    cursor: pointer;
     color:white;
  //  background-color: rgba(98, 0, 148, 0.99); 
}

.l {
    background-color: rgba(103, 103, 103, 0.644);
}
